In [1]:
#Import the libraries
import numpy as np
import pandas as pd

import pickle

import warnings
warnings.filterwarnings("ignore")

In [2]:
sb_bkk = pd.read_csv('answer_dataset/pred_and_actual/y_pred_sav_BKK.csv', names=['Time','Predict','Actual'], skiprows=79)

sb_cnx = pd.read_csv('answer_dataset/pred_and_actual/y_pred_sav_CNX.csv', names=['Time','Predict','Actual'], skiprows=79)

sb_kkc = pd.read_csv('answer_dataset/pred_and_actual/y_pred_sav_KKC.csv', names=['Time','Predict','Actual'], skiprows=79)

sb_ray = pd.read_csv('answer_dataset/pred_and_actual/y_pred_sav_RAY.csv', names=['Time','Predict','Actual'], skiprows=79)

sb_sara = pd.read_csv('answer_dataset/pred_and_actual/y_pred_sav_SARA.csv', names=['Time','Predict','Actual'], skiprows=79)

sb_surat = pd.read_csv('answer_dataset/pred_and_actual/y_pred_sav_SURAT.csv', names=['Time','Predict','Actual'], skiprows=79)

In [3]:
ms_date = {}
ms_date_bkk = pd.read_csv('datasci_dataset_2022/_missing_date/missing_test_date_bkk.csv',names=['Time'],skiprows=1)
ms_date_cnx = pd.read_csv('datasci_dataset_2022/_missing_date/missing_test_date_chiangmai.csv',names=['Time'],skiprows=1)
ms_date_kkc = pd.read_csv('datasci_dataset_2022/_missing_date/missing_test_date_khonkaen.csv',names=['Time'],skiprows=1)
ms_date_ray = pd.read_csv('datasci_dataset_2022/_missing_date/missing_test_date_rayong.csv',names=['Time'],skiprows=1)
ms_date_sara = pd.read_csv('datasci_dataset_2022/_missing_date/missing_test_date_saraburi.csv',names=['Time'],skiprows=1)
ms_date_surat = pd.read_csv('datasci_dataset_2022/_missing_date/missing_test_date_surat.csv',names=['Time'],skiprows=1)

In [4]:
duplicates = pd.merge(sb_bkk,ms_date_bkk,how='inner',on=['Time'])['Time']
sb_bkk = sb_bkk[ ~sb_bkk['Time'].isin(duplicates) ]

duplicates = pd.merge(sb_cnx,ms_date_cnx,how='inner',on=['Time'])['Time']
sb_cnx = sb_cnx[ ~sb_cnx['Time'].isin(duplicates) ]

duplicates = pd.merge(sb_kkc,ms_date_kkc,how='inner',on=['Time'])['Time']
sb_kkc = sb_kkc[ ~sb_kkc['Time'].isin(duplicates) ]

duplicates = pd.merge(sb_ray,ms_date_ray,how='inner',on=['Time'])['Time']
sb_ray = sb_ray[ ~sb_ray['Time'].isin(duplicates) ]

duplicates = pd.merge(sb_sara,ms_date_sara,how='inner',on=['Time'])['Time']
sb_sara = sb_sara[ ~sb_sara['Time'].isin(duplicates) ]

duplicates = pd.merge(sb_surat,ms_date_surat,how='inner',on=['Time'])['Time']
sb_surat = sb_surat[ ~sb_surat['Time'].isin(duplicates) ]

In [5]:
sb_bkk

                      Time    Predict  Actual
78     2020-07-01 06:00:00  14.765431    11.0
79     2020-07-01 12:00:00  15.884116    15.0
80     2020-07-01 18:00:00  18.777240    14.0
81     2020-07-02 00:00:00  14.381347    18.0
82     2020-07-02 06:00:00  16.292663    12.0
...                    ...        ...     ...
17563  2021-07-01 12:00:00  14.977413    14.0
17564  2021-07-01 18:00:00  16.913196    14.0
17565  2021-07-01 12:00:00  13.806215    14.0
17566  2021-07-01 18:00:00  15.453609    14.0
17567  2021-07-01 18:00:00  15.504844    14.0

[15510 rows x 3 columns]

RMSE

In [7]:
for sb in [sb_bkk, sb_cnx, sb_ray, sb_sara, sb_kkc, sb_surat]:
    sb[sb['Predict']<0] = 0
    diff = np.sqrt((np.array(sb['Predict'] - sb['Actual'])**2).mean())
    print(diff)

10.85164948594353
12.864162677759525
11.854267864022468
17.794143599918847
13.912134379444073
11.897079051521775

In [32]:
ls_sb = [sb_bkk, sb_cnx, sb_ray, sb_sara, sb_kkc, sb_surat]

final_answer = pd.concat(ls_sb)
final_answer[final_answer['Predict']<0] = 0
final_answer['Predicted'] = final_answer['Predict']
final_answer = final_answer[['Predicted']].reset_index()
final_answer

       index  Predicted
0         78  14.765431
1         79  15.884116
2         80  18.777240
3         81  14.381347
4         82  16.292663
...      ...        ...
94243  17563  20.693074
94244  17564  24.846355
94245  17565  19.232487
94246  17566  22.697047
94247  17567  22.075476

[94248 rows x 2 columns]

In [31]:
final_answer[['Predicted']].to_csv('testing_submission.csv')